[
  (
    uid: "core_storage_chest",
    components: [
      {"name": (
        name: "Chest",
      )},
      {"haulable": (
        extra_hands: 1,
      )},
      {"container": (
        size: (20, 20, 30),
        volume: 350,
      )},
    ],
  ),
]
