Config(
    display: (
        resolution: (800, 600),
        camera_speed: 0.5,
        debug_physics: false,
    ),
    world: (
        preset: OneChunkWonder,
        worker_threads: None,
    ),
    simulation: (
        random_seed: Some(6785345241953452419),
        random_count: 10,
        acceleration: 0.1,
        friction: 0.7,
        max_speed: 0.2,
        start_delay: 0,
     ),
)
