Config(
    // irrelevant
    display: (
        resolution: (250, 250),
        resizable: false,
        camera_speed: 0.0,
        debug_physics: false,
        zoom: 1.0,
        initial_view_range: 5,
        nav_paths_by_default: false,
    ),
    world: (
        // big random world
        source: Generate (radius: 8, seed: None),
        worker_threads: None,
        generation_height_scale: 15.0,
    ),
    simulation: (
        random_seed: None,
        human_count: 50,
        dog_count: 10,
        friction: 0.85,
        start_delay: 0,
        food_count: 400,
        spawn_counts: {
            "humans": 50,
            "dogs": 10,
            "food": 400,
        },

     ),
)
