Config(
    // irrelevant
    display: (
        resolution: (250, 250),
        resizable: false,
        camera_move_speed: 1.0,
        initial_zoom: 1.0,
        camera_zoom_speed: 1.0,
        initial_view_range: 5,
        persist_ui: false,
    ),
    world: (
        // big random world
        source: Generate("planet_generation.txt"),
        worker_threads: None,
        load_timeout: 30,
        initial_chunk: (2, 2),
        initial_slab_depth: 2,
        initial_chunk_radius: 3,
    ),
    simulation: (
        random_seed: None,
        human_count: 50,
        dog_count: 10,
        friction: 0.85,
        start_delay: 0,
        food_count: 400,
        spawn_counts: {
            "humans": 50,
            "dogs": 10,
            "food": 400,
        },
        entity_logging_by_default: true,
        entity_logging_capacity: 8,
        herd_radius: 8.0,
        herd_expiry_ticks: 100,
    ),
)
