Config(
    display: (
        resolution: (1280, 720),
        resizable: false,
        camera_speed: 0.5,
        debug_physics: false,
        zoom: 1.0,
        initial_view_range: 5,
        nav_paths_by_default: false,
    ),
    world: (
        // source: Preset(OneChunkWonder),
        source: Generate (radius: 2, seed: Some(342882)),
        worker_threads: None,
        generation_height_scale: 15.0,
    ),
    simulation: (
        random_seed: Some(67853852415420),
        human_count: 15,
        dog_count: 2,
        friction: 0.85,
        start_delay: 0,
        food_count: 100,
     ),
)
