Config(
    display: (
        resolution: (1280, 720),
        resizable: false,
        camera_speed: 0.5,
        debug_physics: false,
        zoom: 1.0,
        initial_view_range: 5,
        nav_paths_by_default: false,
    ),
    world: (
        source: Preset(MultiChunkWonder),
        // source: Generate (radius: 2, seed: Some(342882)),
        worker_threads: None,
        generation_height_scale: 15.0,
        initial_slab_range: ((-1, -1, -1), (1, 1, 1))
    ),
    simulation: (
        random_seed: Some(67853852415423),
        friction: 0.85,
        start_delay: 0,
        spawn_counts: {
            "humans": 5,
            "dogs": 3,
            "food": 10,
            "bricks": 20,
        },
     ),
)
