Config(
    display: (
        resolution: (1280, 720),
        resizable: false,
        camera_move_speed: 0.35, // might vary based on frame rate, oopsy
        initial_zoom: 1.0,
        camera_zoom_speed: 0.05,
        initial_view_range: 8,
        persist_ui: true,
    ),
    world: (
        // source: Preset(FlatLands),
        source: Generate("planet_generation.txt"),
        load_timeout: 30,
        worker_threads: None,
        initial_chunk: (33, 512), // near a forest

        /// keep these low <=8
        initial_slab_depth: 1,
        initial_chunk_radius: 1,
    ),
    simulation: (
        random_seed: Some(67853852415424),
        friction: 0.85,
        start_delay: 0,
        spawn_counts: {
            "humans": 10,
            "dogs": 5,
            "sheep": 15,
            "cows": 10,
            "food": 40,
            "bricks": 80,
            "build_jobs": 2,
        },
        entity_logging_by_default: true,
        entity_logging_capacity: 64,
        herd_radius: 12.0,
        herd_expiry_ticks: 80,
     ),
)
