[
  (
    uid: "core_build_wall",
    components: [
      {"build": (
        materials: [
          ("core_brick_stone", 6),
        ],
        steps: 10,
        rate: 4,
        output: "StoneBrickWall",
      )},
      {"kind": (
        singular: "Stone brick wall",
      )},
    ],
  ),
]
