[
  (
    uid: "core_living_cow",
    components: [
      {"kind": (singular: "Cow")},
      {"render": (
        color: "A65503",
        shape: "Circle",
      )},
      {"physical": (
        size: [5, 7, 4],
        volume: 600,
      )},
      {"movement": (
        max_speed: 0.15,
        acceleration: 0.11,
      )},
      {"species": (name: "cow")},
      {"herdable": ()},
      {"intelligence": (species: "sheep")}, // TODO
      {"hunger": (max: 2000)},
      {"senses": (
        vision: (length: 11.0, angle: 60 /*degrees*/),
      )}
    ],
  ),
]
