[
  (
    uid: "core_living_dog",
    components: [
      {"kind": (singular: "Dog")},
      {"render": (
        color: "8B4513",
        shape: "Circle",
      )},
      {"physical": (
        size: [4, 4, 3],
        volume: 400,
      )},
      // TODO dog mouth inventory
      {"movement": (
        max_speed: 0.20,
        acceleration: 0.11,
      )},
      {"species": (name: "dog")},
      {"intelligence": (species: "dog")},
      {"hunger": (
        max: 2000,
        interests: "raw-meat=50,cooked-meat=50,cooked-plant=20,fruit=5",
        metabolism: 0.13,
      )},
      {"senses": (
        vision: (length: 11.0, angle: 60 /*degrees*/),
      )}
    ],
  ),
]
