[
  (
    uid: "core_living_human",
    components: [
      {"kind": (singular: "Human")},
      {"render": (
        color: (r: 0.2, g: 0.5, b: 0.8),
        shape: "Circle",
      )},
      {"physical": (
        size: [5, 5, 18],
        volume: 700,
      )},
      {"inventory": (
        equip_slots: 2,
      )},
      {"movement": (
        max_speed: 0.16,
        acceleration: 0.08,
      )},
      {"intelligence": (species: "human")},
      {"hunger": (max: 3000)},
      {"senses": (
        vision: (length: 15.0, angle: 100 /*degrees*/),
      )}
    ],
  ),
]
