[
  (
    // TODO make plant abstract
    uid: "core_living_plant",
    components: [
      {"kind": (singular: "Plant")},
      {"render": (
        color: "06BA0F",
        shape: "Circle",
      )},
      {"physical": (
        size: [3, 3, 3],
        volume: 50,
        has_physics: false,
      )},
      {"edible": (
        total_nutrition: 100,
        extra_hands: 0,
        flavours: "raw-plant"
      )},
      {"breakable": ()},
    ],
  ),
]
