[
  (
    uid: "core_living_sheep",
    components: [
      {"kind": (singular: "Sheep")},
      {"render": (
        color: "E0E0E0",
        shape: "Circle",
      )},
      {"physical": (
        size: [4, 6, 4],
        volume: 400,
      )},
      {"movement": (
        max_speed: 0.15,
        acceleration: 0.11,
      )},
      {"species": (name: "sheep")},
      {"herdable": ()},
      {"intelligence": (species: "sheep")},
      {"hunger": (max: 2000)},
      {"senses": (
        vision: (length: 11.0, angle: 60 /*degrees*/),
      )}
    ],
  ),
]
