[
    (
        biome: IcyOcean,
        color: 0x85e0fe,
        height: (0, 0),
        sampling: (
            coastal: (-1.0, -0.2),
            temperature: (0.0, 0.2),
        ),
    ),
    (
        biome: Ocean,
        color: 0x228ff5,
        height: (0, 0),
        sampling: (
            coastal: (-1.0, -0.2),
            temperature: (0.25, 1.0),
        ),
    ),
    (
        biome: CoastOcean,
        color: 0x5dabf5,
        height: (0, 0),
        sampling: (
            coastal: (-0.25, 0.0),
            temperature: (0.25, 1.0),
        ),
    ),
    (
        biome: Beach,
        color: 0xf0d051,
        height: (0, 6),
        sampling: (
            coastal: (0.0, 0.2),
            temperature: (0.4, 1.0),
        ),
    ),
    (
        biome: Plains,
        color: 0x84e065,
        height: (10, 18),
        sampling: (
            coastal: (0.2, 1.0),
            temperature: (0.3, 0.7),
            moisture: (0.2, 0.65),
            elevation: (0.0, 0.5),
        ),
    ),
    (
        biome: Forest,
        color: 0x36bf2c,
        height: (10, 16),
        sampling: (
            coastal: (0.2, 1.0),
            temperature: (0.4, 0.7),
            moisture: (0.4, 0.8),
            elevation: (0.0, 0.8),
        ),
    ),
    (
        biome: Desert,
        color: 0xffe83d,
        height: (10, 20),
        sampling: (
            coastal: (0.2, 1.0),
            temperature: (0.9, 1.0),
            moisture: (0.0, 0.3),
            elevation: (0.2, 0.6),
        ),
    ),
    (
        biome: Tundra,
        color: 0xedfeff,
        height: (10, 20),
        sampling: (
            temperature: (0.0, 0.3),
            moisture: (0.0, 0.7),
        ),
    ),
]