[
  (
    uid: "core_brick_stone",
    components: [
      {"name": (
        name: "Stone brick",
      )},
      {"breakable": ()},
      {"haulable": (
        extra_hands: 1,
      )},
      {"stackable": (
        max_count: 10,
      )},
      {"render": (
        color: "4c4c4c",
        shape: "Rect",
      )},
      {"physical": (
        size: (5, 3, 3),
        volume: 25,
      )},
    ],
  ),
]
