[
	(
		uid: "core_food_apple",
		components: [
			{"item": (
					name: "Apple",
					base_slots: 1,
					mounted_slots: 1,
					mass: 0.1,
					stacking: "item_default",
			)},
			{"throwable": ()},
			{"edible": (
					total_nutrition: 80,
			)},
			{"render": (
					color: "b0e359",
			)},
			{"transform": (
					shape: (rx:0.2, ry:0.2),
					height: 0.2
			)},
		],
	),
]
