[
  (
    uid: "core_food_apple",
    components: [
      {"kind": (
        singular: "Apple",
      )},
      {"breakable": ()},
      {"haulable": (
        extra_hands: 0,
      )},
      {"throwable": ()},
      {"edible": (
        total_nutrition: 80,
        extra_hands: 0,
      )},
      {"render": (
        color: "b0e359",
        shape: "Rect",
      )},
      {"physical": (
        size: (1, 1, 1),
        volume: 1,
      )},
    ],
  ),
]
