[
  (
    uid: "core_food_apple",
    components: [
      {"item": (
        name: "Apple",
        base_slots: 1,
        mounted_slots: 1,
        mass: 0.1,
        stacking: "item_default",
      )},
      {"haulable": (
        extra_hands: 0,
      )},
      {"throwable": ()},
      {"edible": (
        total_nutrition: 80,
        extra_hands: 0,
      )},
      {"render": (
        color: "b0e359",
        shape: (rx:0.2, ry:0.2),
      )},
      {"physical": (
        half_dims: (1, 1, 1),
        volume: 1,
      )},
    ],
  ),
]
